<form action="/users/new" method="post">
  <label for="username" id="username-label">
    Username: <input type="text" id="username" name="username"
              required value="<%= params[:username] || '' %>">
  </label>
  <label for="password" id="password-label">
    Password: <input type="password" id="password" name="password" required>
  </label>
  <label for="confirm" id="password-confirm-label">
    Confirm Password: <input type="password" id="confirm" name="confirm" required>
  </label>
  <button type="submit">Sign In</button>
</form>
