<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @title %></title>

  <link rel="stylesheet" href="/public/stylesheets/user_interests.css" />
</head>
<body>
  <%= yield %>
  <p>There are <%= @users.count %> users with a total of <%= @interest_count %> interests</p>
</body>
</html>