<% content_for :header_links do %>
  <a href="/lists" class="list">All Lists</a>
<% end %>

<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <a class="edit" href="/lists/<%= @id %>/edit">Edit List</a>
    </ul>
  </header>

  <ul>
    <% @list[:todos].each_with_index do |todo, index| %>
      <li>
        <h3><%= todo[:name] %></h3>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input id="todo" name="todo" type="text" autofocus="autofocus"
             placeholder="Something to do" value="" />
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add" />
  </fieldset>
</form>
